@import url(sas.css);


* {
    padding: 0;
    margin: 0;
}

.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none;
}

.sidebar-header {
    height: var(--headerHeight);
    display: flex;
    align-items: center;
    background-color: orange;
    color: white;
    justify-content: space-between;
    position: sticky;
    top: 0;

}

.sidebar-header-title {
    height: auto;
}

.sidebar-close {
    display: none;
}

.dasboard-sidebar {
    width: var(--dashboarSidebarWidth);
    background-color: white;
    position: sticky;
    top: 0;
    overflow-y: scroll;
}

.sidebar-body {
    justify-content: start;
    height: calc(100vh - var(--headerHeight));
}

.sidebar-item {
    height: 40px;
    align-items: center;
    display: flex;
    margin-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    color: var(--sectionColor);
    font-size: var(--sectionFontSize);

}

.sidebar-item:hover {
    background-color: var(--sectionHoverColor);
    color: white;
}

.active {
    background-color: var(--sectionHoverColor);
    color: white;
}

/* .admin-header{
    width: 100%;
    height: 100%;
} */
.dashboard-header {
    height: var(--headerHeight);
    display: flex;
    align-items: center;
    color: black;
    font-size: 30px !important;
    justify-content: space-between;
    background-color: var(--lightGrey);
    position: sticky;
    top: 0;
}

.header-item {
    height: auto;
    font-size: 20px;
    color: black;
    padding-left: 10px;
}

.dashboard-body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.dashboard-content {
    padding-left: 10px;
    padding-right: 10px;
    
}

@media (min-width: 600px) {
    .dasboard-sidebar {
        visibility: visible !important;
        transform: none !important;

    }

    .dashboard-menu-btn {
        display: none;
    }
}

@media (max-width:599px) {
    .sidebar-close {
        display: block;
    }
}


/* login page  */
.login-card {
    max-width: 400px;
    min-width: 300px;
    margin: auto;
    padding: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.submit-btn1 {
    width: 100%;
    height: 45px;
    border-radius: 30px;
    border: none;
    color: white;
    background-color: var(--successColor);
}

.submit-btn1:hover {
    color: var(--successColor);
    background-color: white;
    border: 1px var(--successColor) solid;
    transition: 0.5s;
}

.submit-btn2 {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px;
    text-align: center;
    border: none;
    color: white;
    display: block;
    background-color: var(--secoundaryColor);
}

.submit-btn2:hover {
    color: var(--secoundaryColor);
    background-color: white;
    border: 1px var(--secoundaryColor) solid;
    transition: 0.5s;
}

/* login page end  */